<clr-vertical-nav-group routerLinkActive="active">
  <a hidden aria-hidden="true">
  </a>
  <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
  {{currentUser.firstName}} {{currentUser.lastName}}
  <clr-vertical-nav-group-children *clrIfExpanded="true">
      <a clrVerticalNavLink (click)="orderHistoryView()" routerLinkActive="active">Order History</a>
      <a clrVerticalNavLink (click)="profileView()" routerLinkActive="active">Update Profile</a>
      <a clrVerticalNavLink (click)="logout()">Logout</a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
