<div>
    <label>First Name</label>
    <br>
    <input type="text" [(ngModel)]="firstName" placeholder="Firstname">
    <br>
    <label>Last Name</label>
    <br>
    <input type="text" [(ngModel)]="lastName" placeholder="Lastname">
    <br>
    <label>Email</label>
    <br>
    <input type="text" [(ngModel)]="email" placeholder="Email">
    <br>
    <label>Username</label>
    <br>
    <input type="text" [(ngModel)]="userName" placeholder="Username">
    <br>
    <label>Password</label>
    <br>
    <input type="password" [(ngModel)]="password" placeholder="Password">
    <br>
    <button (click)="register()">register</button>
</div>