<clr-modal [(clrModalOpen)]="registerModal">
    <h3 class="modal-title">Register</h3>
    <div class="modal-body">
        <form class="compact" novalidate [formGroup]="registerForm">
            <div class="form-block">
                <div class="form-group">
                    <label class="required">First name</label>
                    <label for="firstName-input" aria-haspopup="true" role="tooltip" class="tooltip tooltip-right tooltip-validation tooltip-sm"
                        [class.invalid]="firstName.invalid && firstName.dirty">
                        <input type="text" id="firstName-input" class="form-control" formControlName="firstName" placeholder="First name">
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="required">Last name</label>
                    <label for="lastName-input" aria-haspopup="true" role="tooltip" class="tooltip tooltip-right tooltip-validation tooltip-sm"
                        [class.invalid]="lastName.invalid && lastName.dirty">
                        <input type="text" id="lastName-input" class="form-control" formControlName="lastName" placeholder="Last name">
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="required">Email</label>
                    <label for="email-input" aria-haspopup="true" role="tooltip" class="tooltip tooltip-right tooltip-validation tooltip-sm"
                        [class.invalid]="email.invalid && email.dirty">
                        <input type="text" id="email-input" class="form-control" formControlName="email" placeholder="Email">
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="required">Username</label>
                    <label for="username-input" aria-haspopup="true" role="tooltip" class="tooltip tooltip-right tooltip-validation tooltip-sm"
                        [class.invalid]="userName.invalid && userName.dirty">
                        <input type="text" id="username-input" class="form-control" formControlName="userName" placeholder="Username">
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="required">Password</label>
                    <label for="password-input" aria-haspopup="true" role="tooltip" class="tooltip tooltip-right tooltip-validation tooltip-sm"
                        [class.invalid]="password.invalid && password.dirty">
                        <input type="password" id="password-input" class="form-control" formControlName="password" placeholder="Password">
                        <span class="tooltip-content">
                            This field cannot be empty!
                        </span>
                    </label>
                </div>
                <div *ngIf="invalid" class="alert alert-danger">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="alert-text">
                                {{errorMessage}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="closeModal(); register()" [disabled]="registerForm.invalid">Register</button>
    </div>
</clr-modal>