<app-login *ngIf="!isLoggedIn" [loginModal]="loginModal" (loginModalEmitter)="toggleLoginModal()"></app-login>
<app-register *ngIf="!isLoggedIn" [registerModal]="registerModal" (registerModalEmitter)="toggleRegisterModal()"></app-register>
<div class="main-container">
  <header class="header header-1">
    <div class="branding">
      <span class="title">{{branding}}</span>
    </div>
    <div class="header-nav">
      <a class="nav-link">
        <span class="nav-text">Menu</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a *ngIf="!isLoggedIn" class="nav-link" (click)="toggleLoginModal()">
          <span class="nav-text">Login</span>
        </a>
        <a *ngIf="!isLoggedIn" class="nav-link" (click)="toggleRegisterModal()">
          <span class="nav-text">Register</span>
        </a>
        <section *ngIf="isLoggedIn" class="nav-group">
          <input id="user-ops" type="checkbox">
          <label for="user-ops">{{currentUser.firstName}} {{currentUser.lastName}}</label>
          <ul class="nav-list">
            <li>
              <a class="nav-link">Place an Order</a>
            </li>
            <li>
              <a class="nav-link">Order History</a>
            </li>
            <li>
              <a class="nav-link" (click)="profileView()">Update Profile</a>
            </li>
          </ul>
          <!-- <input id="tab1" type="checkbox">
          <label for="tab1"(click)="profileView()">{{currentUser.firstName}} {{currentUser.lastName}}</label> -->
        </section>
      </section>
    </nav>
  </div>
</div>