<div class="main-container">
  <header class="header header-1">
    <div class="branding">
      <span class="title">{{branding}}</span>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/landing">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/menu">Menu</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
      <hr/>
      <footer>
        <div class="">
            Powered by <img src="../assets/images/eagreats-logo-black.png" style="background-size:cover;"/>
        </div>
      </footer>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="false" [(clrVerticalNavCollapsed)]="collapsed">
      <app-admin-sidenav *ngIf="isLoggedIn && admin" [currentUser]="currentUser"></app-admin-sidenav>
      <app-cust-sidenav *ngIf="isLoggedIn && !admin" [currentUser]="currentUser"></app-cust-sidenav>
      <app-general-sidenav *ngIf="!admin"></app-general-sidenav>
      <app-anon-sidenav *ngIf="!isLoggedIn" [currentUser]="currentUser"></app-anon-sidenav>
    </clr-vertical-nav>
  </div>
</div>