<!-- <section>
  <label>
    <h4>Deals</h4>
  </label>
  <hr>
  <div class="row">
    <div class="col-md-4 col-lg- 4 col-xs-1">
      <a class="card clickable">
        <div class="card-block">
          <h4>70% Large Pepperoni Pizzas</h4><br>
        </div>
        <div class="card-img">
          <img src="../assets/images/pepperoni.png" />
        </div>
      </a>
    </div>
    <div class="col-md-4 col-lg- 4 col-xs-1">
      <a class="card clickable">
        <div class="card-block">
          <h4>40% Large Pepperoni and Beef Pizzas</h4>
        </div>
        <div class="card-img">
          <img src="../assets/images/pepperonibeef.png" />
        </div>
      </a>
    </div>
    <div class="col-md-4 col-lg- 4 col-xs-1">
      <a class="card clickable">
        <div class="card-block">
          <h4>Buy One Get One Medium Pizzas</h4><br>
        </div>
        <div class="card-img">
          <img src="../assets/images/pepperoni.png" />
        </div>
      </a>
    </div>
  </div>
</section> -->
<br/>
<section>
  <label>
    <h4>About us</h4>
  </label>
  <hr>
  <div class="row">
    <div class="col-xs-7">
      <p>
        {{aboutUs}}
      </p>
    </div>
    <div class="col-xs-5">
      <div class="card">
        <div class="card-img">
          <img src="../assets/images/makingdough.jpg" style="background-size:cover; height: 100%; width:100%" />
        </div>
      </div>
    </div>
  </div>
</section>
<br/>
<section>
  <label>
    <h4>Contact Us</h4>
  </label>
  <hr>
  <div class="row">
    <div class="col-xs-7">
      <div class="card" style="width:100%">
        <!-- <div class="map"></div> -->
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <!-- <iframe width="100%" height="400px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJYg7GYPHwogR1st9G6pGcew&key= AIzaSyCHMtqaWA-b9hmp54IT2G_sPGTzub6t1S4"></iframe> -->
      </div>
    </div>
    <div class="col-xs-5">
      <h4>Give us a call!</h4>
      <p>
        Phone: {{phone}}
      </p>
      <h4>Come on down!</h4>
      <p>
        Address: {{address}}
      </p>
      <h4>Hours of Operation</h4>
      <p>
        <span *ngFor="let op of operation">{{op.day}}: {{op.hours}}
          <br>
        </span>
      </p>
    </div>
  </div>
</section>