<!-- <img src="../assets/pizzacard.jpg" style="width: 100%; height: 100%">
<br> -->
<section>
  <label>
    <h3>Deals</h3>
  </label>
  <hr>
  <div class="row">
    <div class="col-xs">
      <a class="card clickable">
        <div class="card-img">
          <img src="../assets/images/pepperoni.png" />
        </div>
      </a>
    </div>
    <div class="col-xs">
      <a class="card clickable">
        <div class="card-img">
          <img src="../assets/images/pepperonibeef.png" />
        </div>
      </a>
    </div>
    <div class="col-xs">
      <a class="card clickable">
        <div class="card-img">
          <img src="../assets/images/pepperoni.png" />
        </div>
      </a>
    </div>
  </div>
</section>
<br/>
<section>
  <label>
    <h3>About us</h3>
  </label>
  <hr>
  <div class="row">
    <div class="col-xs-7">
      <p>
        We've been in the pizza making game for years. No other pizza parlor can compare to us. Come on down and see for yourself,
        the marvels of the Pizza Joint.
      </p>
    </div>
    <div class="col-xs-5">
      <div class="card">
        <div class="card-img">
          <img src="../assets/images/makingdough.jpg" style="background-size:cover; height: 100%; width:100%" />
        </div>
      </div>

    </div>
  </div>
</section>
<br/>
<section>
  <label>
    <h3>Contact Us</h3>
  </label>
  <hr>
  <div class="row">
    <div class="col-xs-7">
      <div class="card" style="width:100%">
        <iframe width="100%" height="325px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJYg7GYPHwogR1st9G6pGcew&key= AIzaSyCHMtqaWA-b9hmp54IT2G_sPGTzub6t1S4"
          ></iframe>
      </div>
    </div>
    <div class="col-xs-5">
      <h4>Give us a call!</h4>
      <p>
        Phone: 1-800-GET-FOOD
      </p>
      <h4>Come on down!</h4>
      <p>
        Address: 2714 E Bearss Ave Tampa, FL 33613
      </p>
      <h4>Hours of Operation</h4>
      <p>
          Daily Lunch: 

          Noon - 2:30pm<br>
          
          Daily Dinner
          
          Sun - Tuesday 5pm - 10pm<br>
          
          Wednesday & Thursday 5pm - 11pm<br>
          
          Fri and Sat  5pm - 12pm<br>
      </p>
    </div>
  </div>
</section>