<div class="row">
    <div class="col-xs-4">
        
        <div class="card">
            <div class="card-img">
                <img style="background-size: cover; height: 100%; width: 100%" src="assets/images/pepperonibeef.png" >
            </div>
            <div class="card-block">
                <h3>Header</h3>
                <button style="float: right; color: #000; background-color: #fffb21; text-align: center;" class="btn btn-link btn-lg">&nbsp;<strong>Price</strong>&nbsp;<span class="badge">7.99</span></button>
                <p class="card-text">
                    <br>
                    This is a pizza.
                </p>
                <br>
                <div class="btn-group btn-sm btn-icon">
                        <button class="btn btn-success" (click)="add()">
                                <clr-icon shape="plus"></clr-icon>
                                <span class="clr-icon-title">Add</span>
                            </button>
                            <input style="width: 10px; text-align: center;" type="text" value="{{quantity}}" readonly/>
                        <button class="btn btn-danger" (click)="remove()">
                                <clr-icon shape="minus"></clr-icon>
                                <span class="clr-icon-title">Remove</span>
                        </button>
                        <button class="btn btn-primary">
                                <clr-icon shape="shopping-cart"></clr-icon>
                                <span class="clr-icon-title">Cart</span>
                        </button>

                    </div>
            </div>
        </div>
        
    </div>
    <div class="col-xs-4">
        
            <div class="card">
                <div class="card-img">
                    <img style="background-size: cover; height: 100%; width: 100%" src="assets/images/pepperonibeef.png" >
                </div>
                <div class="card-block">
                    <h3>Header</h3>
                    <button style="float: right; color: #000; background-color: #fffb21; text-align: center;" class="btn btn-link btn-lg">&nbsp;<strong>Price</strong>&nbsp;<span class="badge">7.99</span></button>
                    <p class="card-text">
                        <br>
                        This is a pizza.
                    </p>
                    <br>
                    <div class="btn-group btn-sm btn-icon">
                            <button class="btn btn-success" (click)="add()">
                                    <clr-icon shape="plus"></clr-icon>
                                    <span class="clr-icon-title">Add</span>
                                </button>
                                <input style="width: 10px; text-align: center;" type="text" value="{{quantity}}" readonly/>
                            <button class="btn btn-danger" (click)="remove()">
                                    <clr-icon shape="minus"></clr-icon>
                                    <span class="clr-icon-title">Remove</span>
                            </button>
                            <button class="btn btn-primary">
                                    <clr-icon shape="shopping-cart"></clr-icon>
                                    <span class="clr-icon-title">Cart</span>
                            </button>
    
                        </div>
                </div>
            </div>
            
        </div>
        <div class="col-xs-4">
        
                <div class="card">
                    <div class="card-img">
                        <img style="background-size: cover; height: 100%; width: 100%" src="assets/images/pepperonibeef.png" >
                    </div>
                    <div class="card-block">
                        <h3>Header</h3>
                        <button style="float: right; color: #000; background-color: #fffb21; text-align: center;" class="btn btn-link btn-lg">&nbsp;<strong>Price</strong>&nbsp;<span class="badge">7.99</span></button>
                        <p class="card-text">
                            <br>
                            This is a pizza.
                        </p>
                        <br>
                        <div class="btn-group btn-sm btn-icon">
                                <button class="btn btn-success" (click)="add()">
                                        <clr-icon shape="plus"></clr-icon>
                                        <span class="clr-icon-title">Add</span>
                                    </button>
                                    <input style="width: 10px; text-align: center;" type="text" value="{{quantity}}" readonly/>
                                <button class="btn btn-danger" (click)="remove()">
                                        <clr-icon shape="minus"></clr-icon>
                                        <span class="clr-icon-title">Remove</span>
                                </button>
                                <button class="btn btn-primary">
                                        <clr-icon shape="shopping-cart"></clr-icon>
                                        <span class="clr-icon-title">Cart</span>
                                </button>
        
                            </div>
                    </div>
                </div>
                
            </div>
            <div class="col-xs-4">
        
                    <div class="card">
                        <div class="card-img">
                            <img style="background-size: cover; height: 100%; width: 100%" src="assets/images/pepperonibeef.png" >
                        </div>
                        <div class="card-block">
                            <h3>Header</h3>
                            <button style="float: right; color: #000; background-color: #fffb21; text-align: center;" class="btn btn-link btn-lg">&nbsp;<strong>Price</strong>&nbsp;<span class="badge">7.99</span></button>
                            <p class="card-text">
                                <br>
                                This is a pizza.
                            </p>
                            <br>
                            <div class="btn-group btn-sm btn-icon">
                                    <button class="btn btn-success" (click)="add()">
                                            <clr-icon shape="plus"></clr-icon>
                                            <span class="clr-icon-title">Add</span>
                                        </button>
                                        <input style="width: 10px; text-align: center;" type="text" value="{{quantity}}" readonly/>
                                    <button class="btn btn-danger" (click)="remove()">
                                            <clr-icon shape="minus"></clr-icon>
                                            <span class="clr-icon-title">Remove</span>
                                    </button>
                                    <button class="btn btn-primary">
                                            <clr-icon shape="shopping-cart"></clr-icon>
                                            <span class="clr-icon-title">Cart</span>
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
</div>