/* You can add global styles to this file, and also import other style files */
a, button {
    outline: 0;
 }

a:hover {
    cursor:pointer;
}

.card {
    background-color: #fdfffc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card.clickable:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #0b3c49;
}

/* .card-image {
    margin-bottom: 0px;
}
.card-block {
    margin-top: 0px;
    margin-bottom: 0px;
} */
/* .card-block {
    border-top-style: none;
    border-bottom-style: none;
}
.card-header {
    border-bottom-style: none;
}
.card-text {
    border-top-style: none;
    border-bottom-style: none;
} */