/* You can add global styles to this file, and also import other style files */
a, button {
    outline: 0;
 }

 .clr-vertical-nav {
    background-color: #0b3c49;
 }
.clr-vertical-nav .nav-link {
     color:seashell;
 }
.clr-vertical-nav .nav-group-content .nav-group-text {
    color:seashell;
 }

 .clr-vertical-nav .nav-group-trigger {
    color:seashell;
 }

 .clr-vertical-nav .nav-group-trigger .nav-group-trigger-icon {
    color:seashell;
 }
 /* .clr-vertical-nav .nav-group-content .nav-link:hover {
     border: none;
    background-color: #111111;
 } */

 .clr-vertical-nav .nav-link:hover, .clr-vertical-nav .nav-link.active {
    border: none;
    color:seashell;
}  
/* .clr-vertical-nav .nav-link:hover .nav-icon, .clr-vertical-nav .nav-link.active .nav-icon {
      fill: #007cbb; } */
      
a:hover {
    cursor:pointer;
}

.card {
    background-color: #fdfffc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card.clickable:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #0b3c49;
}

/* .card-image {
    margin-bottom: 0px;
}
.card-block {
    margin-top: 0px;
    margin-bottom: 0px;
} */
/* .card-block {
    border-top-style: none;
    border-bottom-style: none;
}
.card-header {
    border-bottom-style: none;
}
.card-text {
    border-top-style: none;
    border-bottom-style: none;
} */