/* You can add global styles to this file, and also import other style files */
a:hover {
    cursor:pointer;
}


/* .card-image {
    margin-bottom: 0px;
}
.card-block {
    margin-top: 0px;
    margin-bottom: 0px;
} */
/* .card-block {
    border-top-style: none;
    border-bottom-style: none;
}
.card-header {
    border-bottom-style: none;
}
.card-text {
    border-top-style: none;
    border-bottom-style: none;
} */