<form class="compact" novalidate [formGroup]="loginForm" (ngSubmit)="login()">
  <section class="form-block">
    <label>Login</label>
    <div class="form-group">
      <label class="required">Username</label>
      <label for="username-input" 
      aria-haspopup="true" 
      role="tooltip" 
      class="tooltip tooltip-right tooltip-validation tooltip-sm"
      [class.invalid]="userName.invalid && userName.dirty">
        <input type="text" id="username-input" class="form-control" formControlName="userName" placeholder="Username">
        <span class="tooltip-content">
          This field cannot be empty!
        </span>
      </label>
    </div>
    <div class="form-group">
      <label class="required">Password</label>
      <label for="password-input" 
      aria-haspopup="true" 
      role="tooltip" 
      class="tooltip tooltip-right tooltip-validation tooltip-sm"
      [class.invalid]="password.invalid && password.dirty">
        <input type="password" id="password-input" class="form-control" formControlName="password" placeholder="Password">
        <span class="tooltip-content">
            This field cannot be empty!
          </span>
      </label>
    </div>
    <div *ngIf="invalid" class="alert alert-danger">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    {{errorMessage}}
                </span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary"
      [disabled]="loginForm.invalid">Login</button>
  </section>
</form>